<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color:white;">Angu CRUD</h1>
        <div class="d-flex">
            <button (click)="clickAddStudent()" type="button" data-toggle="modal" data-target="#exampleModal"
                class="btn btn-success">
                Add Student
            </button>
        </div>
        <div class="class d-center">
            <form class="form-inline">
                <input [(ngModel)]="search" class="form-control mr-sm-2" type="text" placeholder="Search"
                    aria-label="Search" name="search" id="search">
                <button (click)="getAllStudents()" class="btn btn-success my-2 my-sm-0" type="button">Search</button>
            </form>
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">BIRTHDAY</th>
        <th scope="col">PHONE</th>
        <th scope="col">ACTION</th>
    </thead>
    <tbody>
        <tr *ngFor="let student of studentData| paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.address}}</td>
            <td>{{student.birthday}}</td>
            <td>{{student.phone}}</td>
            <td>
                <button (click)="onEdit(student)" type="button" data-toggle="modal" data-target="#exampleModal"
                    class="btn btn-info">Edit</button>
                <button (click)="deleteStudent(student.id)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Student Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="fromValue">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name *:</label>
                        <input formControlName="name" type="text" class="form-control" id="name"
                            aria-describedby="emailHelp" placeholder="Enter name" required>
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small> -->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Birthday *:</label>
                        <input type="text" formControlName="birthday" class="form-control" id="birthday" name="birthday"
                            placeholder="Birthday" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Address *:</label>
                        <input type="text" formControlName="address" class="form-control" id="address"
                            placeholder="Address" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Phone *:</label>
                        <input type="text" formControlName="phone" class="form-control" id="phone" placeholder="Phone"
                            required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" *ngIf="showAdd" (click)="postStudentDetails()"
                    class="btn btn-primary">Add</button>
                <button type="button" *ngIf="showUpdate" (click)="updateStudent()"
                    class="btn btn-primary">update</button>
            </div>
        </div>
    </div>
</div>